body{
    font-family: 'Lora', serif;
}
.header{
    height: 90vh;
    width: 100%;
    
    color: white;
    background: linear-gradient( to right, rgba(0, 0, 0, .6),rgba(0, 0, 0, .3)), url(https://images.collegedunia.com/public/college_data/images/appImage/1583386000cover.jpeg);
    background-size: cover;
}
.h{
    height: 100%;
    width: 100%;
}
.btn{
    border-radius: 10rem !important;
    padding: 1.25rem 2,24rem !important;
}
.message{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}
.myicon{
    font-size: 40px;
    padding: 20px;
}